
<img src="../images/starwarsstartrek.png" style="float: center; margin: 0px; height: 150px; width: 500px"> 

## SUBREDDIT CLASSIFIER

###### _Author: Afolabi Cardoso_

---

### DATA CLEANING

---
#### Contents:
[Overview](#Overview) | [Imports](#Imports) | [Data Cleaning Training Set](#Data-Cleaning-Training-Set) | [Data Cleaning Test Set](#Data-Cleaning-Test-Set) | [Exports](#Exports)

---
## Overview

---
## Imports

In [105]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import plot_confusion_matrix

In [106]:
df = pd.read_csv('../data/raw.csv')
df = df[['title','selftext','created_utc','subreddit']]

Inspect the first 5 rows

In [107]:
df.head()

,title,selftext,created_utc,subreddit
0,Cover Art for the Thrawn Trilogy Boxed Set,NaN,1646329719,StarWars
1,"In your opinion, what is the most efficient li...",NaN,1646329703,StarWars
2,Star wars game,[removed],1646329318,StarWars
3,If a Star Wars game about the famous wars in c...,[removed],1646329234,StarWars
4,What makes a Star Wars fan...a FAN?,[removed],1646329180,StarWars

## Data cleaning

Check for null values

In [119]:
df.isnull().sum()

title          0
selftext       0
created_utc    0
subreddit      0
dtype: int64

Replace the null values in selftext column with empty string

In [120]:
df.fillna(" ", inplace=True)

Replace the [removed] string in the selftext column with an empty string

In [121]:
df.replace('[removed]', " ",inplace=True)

In [122]:
df.isnull().sum()

title          0
selftext       0
created_utc    0
subreddit      0
dtype: int64

Lowercase the target i.e starwars and startrek

In [112]:
df['subreddit'] = df['subreddit'].map(lambda x: x.lower())

Check to see we have the right number of rows for each subreddit

In [113]:
df.groupby('subreddit').count()

           title  selftext  created_utc
subreddit
startrek    1000      1000         1000
starwars    1002      1002         1002

We need only 1000 subreddits each, so we drop the two extra rows from the StarWars subreddit

In [114]:
df.drop(index =[0,1], inplace=True)

In [123]:
df.groupby('subreddit').count()

           title  selftext  created_utc
subreddit
startrek    1000      1000         1000
starwars    1000      1000         1000

## Export

Export the cleaned dataframe as clean.csv

In [116]:
df.to_csv('../data/clean.csv', index=False)